[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
pandas = "*"
google-oauth2-tool = "*"
db-dtypes = "*"

[dev-packages]

[requires]
python_version = "3.10"
