[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
google-cloud-storage = "*"
azure-storage-blob = "*"

[dev-packages]

[requires]
python_version = "3.10"
